@model IEnumerable<Warden_MVC.Models.history>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="col-xs-4" style="overflow:scroll;height:500px">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>History</h4>
            </div>
            <div class="panel-body">

              
                    <table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ntype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ninfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ntype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ninfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeUpdated)
                </td>

            </tr>
        }

    </tbody>




</table>
             
              
            </div>
        </div>
    </div>

    
</body>
</html>




